body {
font-family: Arial;
text-align: center;
background: #f4f7f9;
}

input, select, button {
width: 80%;
margin: 5px;
padding: 10px;
}

button {
background: #2ea6ff;
color: white;
border: none;
}

.hidden {
display: none;
}
